# Vim
.config/vim/*
!.config/vim/vimrc

# Neovim
.config/nvim/*
!.config/nvim/init.lua
!.config/nvim/legacy.vim

# Emacs
.config/emacs/*
!.config/emacs/init.el
!.config/emacs/early-init.el

# Nyxt
.config/nyxt/*
!.config/nyxt/config.lisp

# Librewolf
.librewolf/*
!.librewolf/librewolf.overrides.cfg

# Emacs temp files
\#*\#
*~
.#*
tramp

# tmux
.config/tmux/*
!.config/tmux/tmux.conf
