# Vim
.vim/*
!.vim/vimrc

# Neovim
.config/nvim/*
!.config/nvim/init.lua
!.config/nvim/legacy.vim

# Emacs
.config/emacs/*
!.config/emacs/init.el

# Nyxt
.config/nyxt/*
!.config/nyxt/config.lisp

# Emacs temp files
\#*\#
*~
.#*
tramp

# tmux
.config/tmux/*
!.config/tmux/tmux.conf
